<%- include('includes/inceput.ejs') %>
</head>

<body>
    <%- include('includes/navigare.ejs') %>
    <h1>Ceva nu merge..</h1>
    <p> Lucram la problema, ne pare rau..</p>

<%- include('includes/sfarsit.ejs') %>