<%- include('includes/inceput.ejs') %>
</head>

<body>
    <%- include('includes/navigare.ejs') %>
    <h1>Nu puteti adauga servicii pentru alt tip de vehicul. Va trebui sa stergeti articolele din cos mai intai.</h1>
    
<%- include('includes/sfarsit.ejs') %>