<%- include('includes/inceput.ejs') %>
</head>

<body>
    <%- include('includes/navigare.ejs') %>
    <h1>Se pare ca deja ai serviciul acesta in cos.</h1>

<%- include('includes/sfarsit.ejs') %>