<%- include('includes/inceput.ejs') %>
</head>

<body>
    <%- include('includes/navigare.ejs') %>
    <h1>Nu ai permisiunea sa accesezi aceasta pagina.</h1>

<%- include('includes/sfarsit.ejs') %>