<%- include('../includes/inceput.ejs') %>
<link rel="stylesheet" href="/css/cos.css">

    </head>

    <body>
        <%- include('../includes/navigare.ejs') %>
        <main>
            <div class="main_imagine">
                <h1 class="main_imagine__titlu">Bine ai venit pe site-ul nostru!</h1>  
                <div class="grid">
                    <div class="card__actions">
                        <!-- de modificat destinatia -->
                        <a href="/rezervare" class="btn">Incepe!</a>
                    </div>
                </div>  
            </div>

            <section class="main_descriere" style="background-color: white;">
                <div class="container">
                    <div class="row detalii_spalatorie">
                        <div class="main_imagine detalii_spalatorie__imagine imagine-detalii-polish col-sm"></div>
                        <div class="col-sm detalii_spalatorie__text">
                            
                            <div class="detalii_spalatorie__text_item detalii_servicii__item">
                                <h4 class="my-3"> Polish Faruri </h4>
                                <h4 class="text-muted"> 
                                    Polish-ul auto, sau lustruirea vopselei, se realizeaza cu substante abrazive sau nonabrazive.
                                    Abrazivele in polish au rolul de indepartare a defectelor si implicit a zgarieturilor prin actiunea acestora asupra lacului.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
              <section class="main_descriere">
                <div class="container">
                    <div class="row detalii_spalatorie">
                        <div class="col-sm detalii_spalatorie__text">
                            
                            <div class="detalii_spalatorie__text_item detalii_servicii__item">
                                <h4 class="my-3"> Exterior </h4>
                                <h4 class="text-muted"> 
                                    Avand o gama larga de spume active, iti putem da inapoi luciul
                                    masinii in cel mai scurt timp. Fara pete, fara griji.
                                </h4>
                            </div>

                        </div>
                        <div class="main_imagine detalii_spalatorie__imagine imagine-detalii-exterior col-sm"></div>

                    </div>
                </div>
              </section>
              <section class="main_descriere" style="background-color: white;">
                <div class="container">
                    <div class="row detalii_spalatorie">
                        <div class="main_imagine detalii_spalatorie__imagine imagine-detalii-interior col-sm"></div>
                        <div class="col-sm detalii_spalatorie__text">
                            
                            <div class="detalii_spalatorie__text_item detalii_servicii__item">
                                <h4 class="my-3"> Interior </h4>
                                <h4 class="text-muted"> 
                                    Serviciul de curatare interior a masinii se realizeaza cu ajutorul
                                    echipamentului pe care il avem , ce include un aspirator puternic ce 
                                    indeparteaza praful / murdaria tapiteriei.
                                </h4>
                                    
                                <h4 class="text-muted">
                                    Ne vom ocula, de asemenea, si de presuri si
                                    de stergerea petelor.
                                </h4> 
                                    
                            </div>
                        </div>
                    </div>
                </div>
              </section>
              <section class="main_descriere">
                <div class="container">
                    <div class="row detalii_spalatorie">
                        <div class="col-sm detalii_spalatorie__text">
                            
                            <div class="detalii_spalatorie__text_item detalii_servicii__item">
                                <h4 class="my-3"> Polish Masina </h4>
                                <h4 class="text-muted"> 
                                    Daca polisharea s-a executat asa cum trebuie, masina dvs va arata impecabil, deoarece defectele au fost indepartate
                                    iar vopseaua si luciul acesteia sunt restaurate la aspectul si profunzimea lor initiala.
                                </h4>
                                <h4 class="text-muted">
                                    Utilizam doar masinarii de inalta calitate , care vor aduce bucurie masinii tale.
                                </h4>
                            </div>

                        </div>
                        <div class="main_imagine detalii_spalatorie__imagine imagine-detalii-polish_masina col-sm"></div>

                    </div>
                </div>
              </section>
              <div>
                <a class="btn btn-incepe btn-lg" href="/rezervare"> Incepe acum! </a>
              </div>
        </main>
<%- include('../includes/sfarsit.ejs') %>