<%- include('../includes/inceput.ejs') %>
    <link rel="stylesheet" href="/css/serviciu.css">
</head>

<body>
    <%- include('../includes/navigare.ejs') %>

    <main>
        <div class="main_imagine">
            <h1 class="main_imagine__titlu">SPALATORIE AUTO CONSTANTA</h1>  
            <div class="grid">
                <div class="card__actions">
                    <!-- de modificat destinatia -->
                    <a href="/rezervare" class="btn">Incepe!</a>
                </div>
            </div>  
        </div>

    <div class="main_masinaTa">
        <h2 class="main_masinaTa__titlu"> Ai grija de masina ta! </h2>
        <h3 class="main_masinaTa__descriere"> Curatari si Spalari Auto </h3>
    </div>     


<!-- servicii oferite -->
    <section class="main_descriere">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Servicii</h2>
                <h3 class="section-subheading text-muted">Oferim o varietate de servicii.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color: #798fb4; "></i>
                        <i class="fa-solid fa-car fa-stack-1x fa-inverse"></i>

                    </span>
                    <h4 class="my-3">Servicii spalatorie auto</h4>
                    <p class="text-muted">Spalat auto exterior</p>
                    <p class="text-muted">Curatare interior</p>
                    <p class="text-muted">Dezinfectare interior</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color: #798fb4; "></i>
                        <i class="fa-solid fa-wand-sparkles fa-stack-1x fa-inverse" ></i>
                    </span>
                    <h4 class="my-3">Servicii de polish auto</h4>
                    <p class="text-muted">Polish faruri</p>
                    <p class="text-muted">Curatare parbrize</p>
                    <p class="text-muted">Polish exterior</p>
                </div>
            </div>
        </div>
    </section>   
    
<!-- testimonial -->
    <section id="testimonials">
        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
              <h5 class="testimonial-text">Bucura-te de serviciile oferite de noi!</h5>
              <img class="testimonial-img" src="../../imagini/masina.jpg" alt="dog-profile">
            </div>
            <div class="carousel-item container-fluid">
              <h2 class="testimonial-text">Servicii de inalta calitate!</h2>
              <img class="testimonial-img" src="../../imagini/lustruire.jpg" alt="lady-profile">

            </div>
          </div>
    
          <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <section class="main_descriere">
        <div class="container">
            <div class="row detalii_spalatorie">
                <div class="main_imagine detalii_spalatorie__imagine imagine-index col-sm"></div>
                <div class="col-sm detalii_spalatorie__text">
                    <div class="detalii_spalatorie__text_item"> 
                        <span class="fa-stack fa-3x">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: #798fb4; "></i>
                            <i class="fa-solid fa-location-dot fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3"> Localizare </h4>
                        <h5 class="text-muted"> Ne puteti gasi pe Strada Stefan Cel Mare, Nr 54; suntem foarte usor de localizat.</h5>    
                    </div>
                    <div class="detalii_spalatorie__text_item">
                        <span class="fa-stack fa-3x">
                            <i class="fa-solid fa-circle fa-stack-2x" style="color: #798fb4; "></i>
                            <i class="fa-solid fa-hourglass-end fa-stack-1x fa-inverse"></i>
    
                        </span>
                        <h4 class="my-3"> Timp de lucru </h4>
                        <h5 class="text-muted"> Ne facem munca, cu placere, in 30 de minute! </h5>
                    </div>
                </div>
            </div>
        </div>
      </section>

      <hr/>

      <section class="contacte">
        <div class="container container-fluid">
                <div class="row contacte__text">
                    <div class="col-lg-3 col-md-6 contacte__text_item"> 
                        <span class="fa-stack fa-2x">
                            <i class="fa-solid fa-phone fa-stack-1x" style="color: #798fb4; "></i>
                        </span>
                        <h4 class="my-3"> Contact </h4>
                        <h5 class="text-muted"> 0722 019 234</h5>    
                    </div>
                    <div class="col-lg-3 col-md-6 contacte__text_item">
                        <span class="fa-stack fa-2x">
                            <i class="fa-regular fa-calendar-days fa-stack-1x" style="color: #798fb4; "></i>
    
                        </span>
                        <h4 class="my-3"> Program </h4>
                        <h5 class="text-muted"> In fiecare zi , intre orele 8:00 - 16:00 </h5>
                    </div>
                    <div class="col-lg-3 col-md-6 contacte__text_item"> 
                        <span class="fa-stack fa-2x">
                            <i class="fa-solid fa-location-dot fa-stack-1x" style="color: #798fb4;"></i>
                        </span>
                        <h4 class="my-3"> Adresa </h4>
                        <h5 class="text-muted"> Constanta, Strada Stefan Cel Mare, Nr. 54</h5>    
                    </div>
                    <div class="col-lg-3 col-md-6 contacte__text_item"> 
                        <span class="fa-stack fa-2x">
                            <i class="fa-solid fa-car-side fa-stack-1x" style="color: #798fb4;"></i>
                        </span>
                        <h4 class="my-3"> Servicii Auto </h4>
                        <a class="text-muted" href="/detalii_servicii"> Afla mai multe </a>
                    </div>
                </div>
    
        </div>
      </section>
</main>  

<%- include('../includes/sfarsit.ejs') %>